body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkolivegreen;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: darkolivegreen;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: darkolivegreen;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: rgb(110, 150, 42);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.card {
    border: 1px solid #1e1e1e;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    max-width: 300px; /* Set a maximum width for the cards */
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: darkolivegreen;
}

#openNav {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    #sidebar {
        padding-top: 15px;
    }

    #sidebar a {
        font-size: 16px;
    }

    .card {
        max-width: 100%;
    }

    h2 {
        width: 50px;
}
