body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    color: darkolivegreen;
}

input {
    padding: 10px;
}

button {
    background-color: darkolivegreen;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(116, 167, 41);
}

a {
    color: darkolivegreen;
}


